{% for key, values in tests %}
    <div class="col-group">
        <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
            {{ key }}
        </div>

        {% for testname,params in values %}                
            <div class="col-group">
                <div class="pl10">
                    <input  data-icheck="true"  type="checkbox" name="module[{{ params.id }}]"/>                
                </div>
                <div class="col-mb-8 col-6 col-dt-4 col-ld-3 nopadding">
                    <span class="form-span--helper">{{ testname }}</span>                
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
